AuctionHouse/web/WEB-INF/wsdl/localhost_8080/AuctionService/AuctionService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="appuser" type="tns:appuser"/>

<xs:element name="auction" type="tns:auction"/>

<xs:element name="getActiveAuctions" type="tns:getActiveAuctions"/>

<xs:element name="getActiveAuctionsResponse" type="tns:getActiveAuctionsResponse"/>

<xs:complexType name="getActiveAuctions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getActiveAuctionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:auction" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="auction">
<xs:sequence>
<xs:element name="auctionname" type="xs:string" minOccurs="0"/>
<xs:element name="auctionownerId" type="tns:appuser" minOccurs="0"/>
<xs:element name="bid" type="xs:int" minOccurs="0"/>
<xs:element name="bidownerId" type="tns:appuser" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="categorytype" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="finished" type="xs:boolean" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="rating" type="xs:double" minOccurs="0"/>
<xs:element name="status" type="xs:boolean" minOccurs="0"/>
<xs:element name="timecreated" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appuser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="feedbacks" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>